@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
}



body {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    background-color: #D8DFE8;

}

.logoAlura {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px 0 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 40px 40px;
    gap: 80px
}

.container__entrada {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 10px;
}

.container__saida {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
    height: 620px;
    width: 400px;
    border-radius: 32px;
    gap: 10px;
}

.textArea {
    background-color: #D8DFE8;
    border: none;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    height: 400px;  
}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
        border: none;
    }

.mensagem {
    background: #F6F6F6;
    background-image: url(./assets/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    height: 300;
}

.semMensagens {
    font-size: 24px;
}

.mensagemInformacao {
    font-size: 16px;
}
.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px; 
    align-items: center;
    gap: 10px;
}

.botaoCriptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #F6F6F6;
    cursor: pointer;
    height: 67px;
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;  
}

.botaoDescriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px; 

}

.botaoCopiar {
    background-color: #f6f6f6;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 300px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.informacao {
    color: grey;
    font-size: 18px;
}
