:root {
    --cor-fundo: #f4f4f4;
    --cor-principal: #007bff;
    --cor-secundaria: #6c757d;
    --cor-texto: #333;
    --cor-botao-criar: #007bff;
    --cor-botao-descriptografar: #3492ea;
    --cor-botao-copiar: #17a2b8;
    --cor-botao-hover: #0056b3;
    --cor-texto-botao: #fff;
    --cor-textarea: #fff;
    --cor-borda-textarea: #ddd;
    --cor-mensagem-informacao: #6c757d;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    margin: 0;
}

.container {
    background-color: var(--cor-textarea);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.logoAlura img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.container__entrada {
    margin-bottom: 20px;
}

.textArea {
    width: 100%;
    height: 150px;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}

.informacao {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
}

.informacao__icone {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.informacao h6 {
    font-size: 14px;
    color: var(--cor-secundaria);
    margin: 10px
}

.botoes {
    display: flex;
    justify-content: left;
    padding: 20px;
}

button {
    background-color: var(--cor-botao-criar);
    color: var(--cor-texto-botao);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-botao-hover);
}

.botaoDescriptografar {
    background-color: var(--cor-botao-descriptografar);
}

.botaoDescriptografar:hover {
    background-color: var(--cor-botao-hover);
}

.botaoCopiar {
    background-color: var(--cor-botao-copiar);
}

.botaoCopiar:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.botaoCopiar:hover {
    background-color: #138496;
}

.container__saida {
    margin-top: 20px;
}

.container__saida__botao {
    padding: 0 0 0 20px;
}

.mensagem {
    width: 100%;
    height: 100px;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}

.mensagemInformacao {
    color: var(--cor-mensagem-informacao);
    font-size: 14px;
    padding: 0 0 0 20px;
}

.semMensagens {
    color: var(--cor-secundaria);
    font-size: 16px;
    padding: 0 0 0 20px;
}